body {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: grey;
}

.carousel {
    width:800px;
    height:400px;
    position:relative;
    overflow: hidden;
    border-radius: 10px;
     box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.slide {
    width:100%;
    height:100%;
    position:absolute;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
}

button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


button:hover {
  background: rgba(0,0,0,0.8);
}