body{
  background-color: rgb(224, 220, 83);
    font-family: system-ui, Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-top: 200px;
}

.container {
  display: flex;
  justify-content: center;   /* cards to center */
  align-items: center;
   justify-content: space-between;
   width:700px;
   margin-left: 410px;
}

.card {
  margin-top:25px;
  display: flex;
  flex-direction: column;    /* text & button in column */
  align-items: center;       /* center text & button */
  justify-content: center;
  background-color: antiquewhite;
  padding: 25px;
  border-radius: 10px;

}

button {
  padding: 8px;
  width:90px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(43, 147, 38);
}
