body {
background-color: rgb(153, 165, 42);
 font-family: Arial, sans-serif;

}

.container {
    margin:210px auto 0;
    width:350px;
    height: auto;
    padding:20px;
    background-color: white;
    border-radius: 8px;
}

.input-box {
 display:flex;
 gap:10px;
}

input{
    padding:10px;
    width:65%;
    border-radius:4px;
    border:2px solid rgb(6, 6, 6);
}

button {
    background-color: rgb(86, 238, 72);
    padding: 10px 20px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background-color: rgb(38, 255, 0);
}


ul{
margin-top: 0px;
padding:15px;
}

li {
background-color:rgb(233, 236, 236) ;
display:flex;
justify-content: space-between;
padding:4px;
margin:5px;
border-radius:4px;
align-items: center;
}

li button {
    background-color: rgb(241, 71, 71);
}

li button:hover {
    background-color: rgb(206, 1, 1);
}


#emptyMsg {
  color: gray;
  margin-top: 10px;
  text-align: center;
}




