body{
    font-family: Arial, sans-serif; 
    background: linear-gradient(135deg, #667eea, #764ba2);
    margin: 0;
    padding: 0;
    height:100vh;
}


.stopwatch-container {
    background-color: beige;
    padding:40px;
    margin:0 auto;
    width: 300px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    margin-top: 220px;
}

.display{
    font-size:30px;
}

.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    
}

button {
    padding:10px 25px;
    border-radius: 8px;
}

#start {
    background-color:rgb(41, 245, 61);
}

#stop {
    background-color:rgb(236, 40, 40);
}

#reset {
    background-color: blue;
}