body {
    font-family: Arial, sans-serif; 
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     min-height: 100vh;
    
}

.container {
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     background-color: cornsilk;
     width:700px;
      min-height: 80vh;
     border-radius: 10px;
     padding:30px;
}

   .info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;   /* small vertical space */
}


  .items{
    width:95%;
    
  }

.item {
             border: 2px solid #c1bfbf;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 10px;
            transition: box-shadow 0.3s;
           
}

button {
    padding:8px;
    margin:4px;
    border-radius:5px;
}

.active{
    background-color: #289daa;
}